* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364);
  background-size: 400% 400%;
  animation: bgMove 10s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
  overflow: hidden;
}

@keyframes bgMove {
  0% { background-position: left; }
  100% { background-position: right; }
}


.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  background: rgba(255, 215, 0, 0.6);
  box-shadow: 0 0 20px #ffd700;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.card {
  width: 340px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 40px rgba(255, 215, 0, 0.5);
  text-align: center;
  transition: transform 0.1s;
}


.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #ffd700;
  margin-bottom: 15px;
  box-shadow: 0 0 15px #ffd700;
}


h1 {
  color: #ffd700;
  height: 32px;
}

.job {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 15px;
}

.desc {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Social */
.social a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.3s;
}

.social a:hover {
  color: #ffd700;
  text-shadow: 0 0 10px #ffd700;
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  100% { transform: rotate(0); }
}

/* Music button */
.music-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}
